<div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span>用户基本信息</h4>
      </div>
      <div class="modal-body">
        <form action="{:url('useradd/useradd')}" method="post" class="form-inline" role="form" id="formdata">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" for="name">姓&emsp;&emsp;名</label>
                    <input class="form-control" id="name" type="text" name="name" placeholder="姓名" required1="required" />
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="sex">性&emsp;&emsp;别</label>
                    <select class="form-control" id="sex" name="sex">
                        <option value="">未知</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">

                <div class="col-md-4 form-group">
                    <label class="control-label" for="birthday">出生日期</label>
                    <input class="form-control datetimepicker" id="birthday" name="birthday" type="text" placeholder="选择日期" required1="required" />
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="telephone">手机号码</label>
                    <input class="form-control" id="telephone" type="tel" placeholder="手机号" required1="required" name="telephone" />
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" for="userAttrArea">省&emsp;&emsp;份</label>
                    <select name="province_id" id="userAttrArea" required1="required" class="form-control">
                        {volist name="province" id="f"}
                        <option value="{$f.province_id}" {if condition="510000 eq $f['province_id']"} selected{/if}>{$f.province_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="userAttrCity">市&emsp;&emsp;级</label>
                    <select name="city_id" id="userAttrCity" required1="required" class="form-control">

                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="userAttrCounty">区&emsp;&emsp;县</label>
                    <select name="county_id" id="userAttrCounty" required1="required" class="form-control">

                    </select>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 form-group">
                    <label class="control-label" for="dev">开发渠道</label>
                    <select name="dev_id" id="dev" required1="required" class="form-control">
                        <option value="">请选择</option>
                        {volist name="dev" id="e" }
                            <option value="{$e.id}">{$e.dev}</option>
                        {/volist}
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="from">信息来源</label>
                    <select name="from_id" id="from" required1="required" class="form-control">
                        <option value="">请选择</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="tool">咨询工具</label>
                    <select name="tool_id" id="tool" required1="required" class="form-control">
                        <option value="">请选择</option>
                        {volist name="zx_tools" id="b" }
                            <option value="{$b.id}">{$b.tool}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="line"></div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label">网电咨询师</label>
                    <select name="wdzx_id" required1="required" class="form-control">
                        <option value="">请选择</option>
                        {volist name="wdzxs" id="wd" }
                        <option value="{$wd.id}">{$wd.wd_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">前台咨询师</label>
                    <select name="qtzx_id" required1="required" class="form-control">
                        <option value="">请选择</option>
                        {volist name="qtzxs" id="qt" }
                        <option value="{$qt.id}">{$qt.qt_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">接诊医生</label>
                    <select name="doctor_id" required1="required" class="form-control">
                        <option value="">请选择</option>
                        {volist name="doctors" id="d" }
                        <option value="{$d.id}">{$d.doctor}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label">就诊&ensp;&ensp;病种</label>
                    <select name="disease_id" required1="required" class="form-control">
                        <option value="">请选择</option>
                        {volist name="disease" id="c" }
                        <option value="{$c.id}">{$c.disease_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="jz_time">初诊&ensp;&ensp;日期</label>
                    <input class="form-control datetimepicker" id="jz_time" name="jz_time" type="text" placeholder="选择日期" required1="required" />
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="money">消费金额</label>
                    <input class="form-control" id="money" type="text" name="money" value="0" placeholder="消费金额,无消费填0" required1="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" for="ill_desc">病情&ensp;&ensp;描述</label>
                    <textarea id="ill_desc" class="form-control" name="ill_desc" rows="3" required1="required"></textarea>
                </div>
            </div>
            <div class="row btns">

            </div>
        </form>
      </div>
      <div class="modal-footer">
        <b id="msg" class="pull-left"></b>
        <button type="submit" id="submit" class="btn btn-success">保存</button>
        <button type="reset" class="btn btn-warning">重置</button>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addUserDialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">新客户添加成功！</div>
            <div class="modal-footer">
                <span class="pull-left text-danger" id="addconmsg"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                <!-- <button type="button" class="btn btn-primary" id="secAddCon">继续添加</button> -->
            </div>
        </div>
    </div>
</div>
