<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>客户积分数据</title>
<link rel="stylesheet" href="__PUBLIC__static/bootstrap/css/bootstrap.full.css">
<link rel="stylesheet" href="__PUBLIC__static/bootstrap/css/bootstrap-datepicker.min.css">
<link href="__PUBLIC__static/easyui/css/easyui.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__static/easyui/css/icon.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__static/easyui/js/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__static/easyui/js/jquery.easyui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__static/easyui/js/easyui-lang-zh_CN.js" type="text/javascript"></script>
<script src="__PUBLIC__static/easyui/js/datagrid-detailview.js"></script>


<script src="__PUBLIC__static/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__static/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__static/bootstrap/js/bootstrap-datepicker.zh-CN.min.js"></script>
<style>
    body{margin: 0;padding: 0;}
    /* .yes{color: green;}
    .no{color: red;}
    .status{width: 16px;height: 15px;display: inline-block;font-size: 0px;} */
    .glyphicon-ok{color: #5cb85c;}
    .glyphicon-remove{color: #f0ad4e;}
    .money{font-weight: bold;color: #f00;}
    td{text-align: center;}
    /* .datagrid-header{position: fixed;} */
    .form-group{padding-bottom: 15px;}
    .control-label{text-align: right;/* width: 20%; */margin-right: 2%;}
    .form-control{width: 60%!important;}
    .line{border-bottom: 1px dashed #ccc;text-align: center;color: #888;margin-bottom: 20px;}
    .btns{text-align: center;}
    #msg{color: #f00;}
    .alblePoints{color: #f00;}
    .datagrid-row-selected{background: #AFEEEE;}
    /*.datagrid-body{height: auto!important;}*/
    /*table{}*/
    /* 冲突样式重置 */
    .panel-header{width: 100%!important;}
    .panel-body{width: 100%!important;}
    .glyphicon{margin-right: 5px;}
</style>

</head>
<body>
    <table id="dg" class="" title="客户积分情况表">
    </table>
    <div id="toolbar" style="display: none">
        <div style="margin-bottom:5px">
            <div style="margin-bottom: 8px;">
                <a href="javascript:;" class="easyui-menubutton" menu="#mm1"><span class="glyphicon glyphicon-plus-sign"></span>添加</a>
                <div id="mm1" style="width:150px;">
                    <div iconCls="icon-man" data-toggle="modal" id="addChildFormBtn">新增下线</div>
                    <div class="menu-sep"></div>
                    <div iconCls="icon-sum" id="startManPoints">积分管理</div>
                    <div class="menu-sep"></div>
                    <div iconCls="icon-redo" id="openGivingModal">积分转赠</div>
                </div>
                <a id="openEditModal" class="easyui-linkbutton" plain="true"><span class="glyphicon glyphicon-edit"></span>修改资料</a>
                <a id="reload" class="easyui-linkbutton" plain="true"><span class="glyphicon glyphicon-refresh"></span>刷新数据</a>
                <a href="{:url('')}" class="easyui-linkbutton" plain="true" target="_blank"><span class="glyphicon glyphicon-fullscreen"></span>全屏显示</a>
                <a href="{:url('export')}" class="easyui-linkbutton" plain="true"><span class="glyphicon glyphicon-export"></span>导出数据</a>
            </div>
        </div>
        <div style="margin-bottom: 8px;">
            模糊查询（姓名/手机号）：<input id="mohu" class="easyui-textbox" type="text" style="width: 100px">
            Points From：<input id="startpoint" class="easyui-textbox" style="width:100px">
            To：<input id="endpoint" class="easyui-textbox" style="width:100px">
            <a href="javascript:;" id="search" class="easyui-linkbutton"><span class="glyphicon glyphicon-search"></span>Search</a>
        </div>
    </div>

    <!-- 新增下线表单 -->
    <div class="modal fade" id="addChildFormModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span>为客户 <span id="addChildFormTit" class="text-primary"></span> 添加下线客户</h4>
                </div>
                <form method="post" class="form-inline" role="form" id="addChildForm">
                    <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="name">姓&emsp;&emsp;名</label>
                                    <input class="form-control" id="name" type="text" name="name" placeholder="姓名" required1="required" />
                                    <span style="color: #f00;">*</span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="sex">性&emsp;&emsp;别</label>
                                    <select class="form-control" id="sex" name="sex">
                                        <option value="">未知</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="age">年&emsp;&emsp;龄</label>
                                    <input class="form-control" id="age" name="age" type="text" placeholder="年龄" required1="required" />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="telephone">手&ensp;机&ensp;号</label>
                                    <input class="form-control" id="telephone" type="tel" placeholder="手机号" required1="required" name="telephone" />
                                    <span style="color: #f00;">*</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="disease_id">消费项目</label>
                                    <select name="disease_id" required1="required" class="form-control" id="disease_id">
                                        <option value="">请选择</option>
                                        {volist name="disease" id="c" }
                                        <option value="{$c.id}">{$c.disease_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="money">消费金额</label>
                                    <input class="form-control" id="money" name="money" type="text" placeholder="金额" required1="required" value="0" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="pay_time">消费日期</label>
                                    <input class="form-control datetimepicker" id="pay_time" name="pay_time" type="text" placeholder="选择日期" required1="required" />
                                    <!-- <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-calendar"></i></span> -->
                                </div>
                                <div class="col-md-6 form-group"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="comment">备&emsp;&emsp;注</label>
                                    <textarea id="comment" class="form-control" name="comment" rows="3" required1="required"></textarea>
                                </div>
                                <!-- <div class="col-md-6 form-group">
                                    <label class="control-label" for="money">消费金额</label>
                                    <input class="form-control" id="money" type="text" name="money" value="0" placeholder="消费金额,无消费填0" required1="required" />
                                </div> -->
                            </div>
                        <!-- </form> -->
                    </div>
                    <div class="modal-footer">
                        <label id="msg" class="pull-left text-danger"></label>
                        <button type="button" class="btn btn-success" id="addChildBtn">保存</button>
                        <button type="reset" class="btn btn-warning">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 积分管理表单 -->
    <div class="modal fade" id="manPointsFormModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span>客户 <span id="manPointsFormTit" class="text-primary"></span> 的积分管理(增加/使用)</h4>
                </div>
                <form method="post" class="form-inline" role="form" id="manPointsForm">
                    <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    该客户当前剩余积分：<b class="alblePoints"></b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="disease_id">消费项目</label>
                                    <select name="disease_id" required1="required" class="form-control" id="disease_id">
                                        <option value="">请选择</option>
                                        {volist name="disease" id="c" }
                                        <option value="{$c.id}">{$c.disease_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="money">消费金额(应付)</label>
                                    <input class="form-control" id="money" name="money" type="text" placeholder="金额" required1="required" value="0" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="pay_time">消费日期</label>
                                    <input class="form-control datetimepicker" id="pay_time" name="pay_time" type="text" placeholder="选择日期" required1="required" />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="usePointsNum">使用积分</label>
                                    <input class="form-control" id="usePointsNum" name="usePointsNum" type="text" placeholder="使用/抵扣/兑换的积分" required1="required" value="0" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 form-group">
                                    <label for="">是否为该客户的介绍人累积积分</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="isAddParC" id="yes" value="1"> 是
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="isAddParC" id="no" value="0" checked="checked"> 否
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="comment">备&emsp;&emsp;注</label>
                                    <textarea id="comment" class="form-control" name="comment" rows="3" required1="required"></textarea>
                                </div>
                            </div>
                        <!-- </form> -->
                    </div>
                    <div class="modal-footer">
                        <label id="manPointsMsg" class="pull-left text-danger"></label>
                        <button type="button" class="btn btn-success" id="manPointsSubmit">保存</button>
                        <button type="reset" class="btn btn-warning">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 资料编辑表单 -->
    <div class="modal fade" id="editModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span>修改客户 <span id="editFormTit" class="text-primary"></span> 资料</h4>
                </div>
                <form method="post" class="form-inline" role="form" id="editForm">
                    <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="name">姓&ensp;&ensp;名</label>
                                    <input class="form-control" id="name" name="name" type="text" placeholder="姓名" required="required" value="" />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="sex">性别</label>
                                    <select name="sex" required="required" class="form-control" id="sex">
                                        <option value="0">未知</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="telephone">手机号</label>
                                    <input class="form-control" id="telephone" name="telephone" type="text" placeholder="手机号码" required="required" value="" />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="control-label" for="age">年龄</label>
                                    <input class="form-control" id="age" name="age" type="text" placeholder="年龄" required="required" value="" />
                                </div>
                                <input type="hidden" name="id" value="">
                            </div>
                        <!-- </form> -->
                    </div>
                    <div class="modal-footer">
                        <label id="editMsg" class="pull-left text-danger"></label>
                        <button type="button" class="btn btn-success" id="editSubmit">保存</button>
                        <button type="reset" class="btn btn-warning">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 积分转赠表单 -->
    <div class="modal fade" id="givingModel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span>转赠客户 <span id="editFormTit" class="text-primary"></span> 积分</h4>
                </div>
                <form method="post" class="form-inline-" role="form" id="editForm">
                    <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label class="control-label" for="name">转赠对象手机号</label>
                                    <input class="form-control" id="name" name="name" type="text" placeholder="姓名" required="required" value="" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label class="control-label" for="telephone">转赠积分数(不能大于剩余积分数<em id="lastPoints">50</em>)</label>
                                    <input class="form-control" id="telephone" name="telephone" type="text" placeholder="手机号码" required="required" value="" />
                                </div>
                            </div>
                        <!-- </form> -->
                    </div>
                    <div class="modal-footer">
                        <label id="editMsg" class="pull-left text-danger"></label>
                        <button type="button" class="btn btn-success" id="editSubmit">保存</button>
                        <button type="reset" class="btn btn-warning">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
    // datagrid部分js
    $(function() {
        // 主要数据
        $('#dg').datagrid({
            iconCls: 'icon-list',
            autoRowHeight: false,
            // nowrap: false,
            url: '{:url('getCreditsDate')}'+'&r='+Math.random(),
            columns:[[
                // {field:'id',title:'ID',width:1,width:'auto'},
                {field:'checkbox',checkbox:true},
                {field:'name',title:'姓名',width:80,halign:'center',align:'center'},
                // {field:'usersn',title:'客户编号',width:100},
                // {field:'status',title:'成交',formatter:statusformater,align:'center',width:45},
                {field:'telephone',title:'手机号码',width:80},
                {field:'sex',title:'性别',width:45},
                // {field:'birthday',title:'出生日期',width:70},
                {field:'age',title:'年龄',sortable:true,formatter: function (value) {if(value==0){return '未知'}else{return value}},width:40},
                {field:'suma',title:'应付总消费金额',sortable:true,width:70},
                {field:'sumu',title:'总使用积分',sortable:true,width:100},
                {field:'sumr',title:'实际总消费金额',sortable:true,width:100},
                {field:'sumg',title:'剩余积分',sortable:true,width:100},
                {field:'tjr',title:'推荐者(来源)',formatter:function(value,row){if(value==null){return '无'}else{return value+'：'+row.tjrtel}},width:120},
                {field:'comment',title:'备注',width:120},
                {field:'create_time',title:'登记时间',width:120},
                {field:'update_time',title:'修改时间',width:120},
                {field:'create_user_name',title:'操作员',width:120}
            ]],
            toolbar: "#toolbar",
            fitColumns: true, //表格宽度自适应
            rownumbers: true,
            pagination: true, //分页组件
            pageSize: 30, //初始化显示条数
            pageList: [10, 30,50, 100, 200],
            loadMsg: '玩命加载数据中......',
            // striped:true, //斑马线效果
            singleSelect: true, //单选
            method: 'post',
            // 子网络
            view: detailview,
            onExpandRow: function(index, row) {
                var ddv = $(this).datagrid('getRowDetail', index).find('table.ddv');

                ddv.datagrid({
                    url: '{:url("Creditdata/getCreditDetail")}?uid=' + row.id+'&r='+Math.random(),
                    fitColumns: true,
                    singleSelect: true,
                    remoteSort:false,
                    rownumbers: true,
                    loadMsg: '正在玩命加载详细列表......',
                    height: 'auto',
                    autoRowHeight:true,
                    fixRowHeight:index,
                    fixDetailRowHeight:index,
                    // showFooter: true,
                    columns: [[
                        {field: 'disease_name',title: '本次消费项目',width: 100},
                        {field: 'account_payable',title: '本次应付金额',width: 100},
                        {field: 'used_credit',title: '本次使用积分',width: 100},
                        {field: 'real_pay',title: '本次实付金额',width: 100},
                        {field: 'get_credit',title: '本次获得积分',width: 100},
                        {field: 'comment',title: '备注',width: 100},
                        {field: 'pay_time',title: '消费时间',formatter:function(value){if(value=='1970-01-01'){return ''}else{return value}},width: 100},
                        {field: 'create_time',title: '登记时间',width: 100}
                    ]],
                    onResize: function() {
                        $('#dg').datagrid('fixDetailRowHeight', index);
                    },
                    onLoadSuccess: function(data) {
                        // console.log(data);
                        setTimeout(function() {
                            $('#dg').datagrid('fixDetailRowHeight', index);
                            $('#dg').datagrid('fixRowHeight',index);//防止出现滑动条
                        }, 0);
                    }
                });
                $('#dg').datagrid('fixDetailRowHeight',index);
            },
            detailFormatter: function(index, row) {
                return '<div style="padding:2px"><table class="ddv" title="该客户消费、积分明细列表"></table></div>';
            }
        });
        // 刷新数据
        $('#reload').on('click', function() {
            $('#dg').datagrid('reload');
        });


    });



    $('.datetimepicker').datepicker({
        language: 'zh-CN', //语言
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true,
        todayBtn: "linked"
    });


    // 表单部分js

    // 添加下线
    $('#addChildFormBtn').on('click',function() {
        // 能否嵌套事件 unbind
        var selected=$('#dg').datagrid('getSelected');
        // console.info(selected)
        if(selected){
            $('#addChildFormTit').html(selected.name+'('+selected.telephone+')');
            $('#addChildFormModel').modal();
            $('#addChildBtn').attr('disabled',false);

        }else{
            alert('请选择用户');
        }

    });
    $('#addChildBtn').on('click', function() {
        var selected=$('#dg').datagrid('getSelected');
        var formData=$('#addChildForm').serialize();
        formData+='&pid='+selected.id;

        $.ajax({
            url: '{:url('addChild')}?r='+Math.random(),
            type: 'POST',
            dataType: 'html',
            data: formData
        })
        .done(function(data) {
            // console.log(data)
            // console.log(data.indexOf('添加成功'));
            // return false;
            if(data.indexOf('添加成功')>=0){
                $('#addChildBtn').attr('disabled',true);
                $('#addChildForm').get(0).reset();
                $('#msg').html('');
                $('#dg').datagrid('reload');
                $('#addChildFormModel').modal('hide');
                // $('#addConDialog').modal();
            }else{
                $('#msg').html('提示信息：'+data);
            }

        })
        .fail(function() {
            $('#msg').html('发生错误!请及时联系管理员!');
        });
        return false;
    });

    // $('#addChildFormModel').on('hidden.bs.modal', function (e) {
    //     // console.log(e)
    //     $('#addChildForm')[0].reset();
    //     $('#msg').html('');
    //     // $(this).html('');
    // });

    // 积分管理
    $('#startManPoints').on('click',function(){
        var selected=$('#dg').datagrid('getSelected');
        // console.info(selected)
        if(selected){
            $('#manPointsFormTit').html(selected.name+'('+selected.telephone+')');
            $('.alblePoints').html(selected.sumg);
            $('#manPointsFormModel').modal();
            $('#manPointsSubmit').attr('disabled',false);
        }else{
            alert('请选择用户');
        }
    });
    $('#manPointsSubmit').on('click',function(){
        var selected=$('#dg').datagrid('getSelected');
        // console.log(selected);
        // return false;
        var alblePoints=$('.alblePoints').html();//剩余积分
        var pid=selected.pid;
        var sid=selected.id;
        var name=selected.name;
        var tel=selected.telephone;
        var manPointsFormData=$('#manPointsForm').serialize();
        manPointsFormData+='&alblePoints='+alblePoints+'&pid='+pid+'&sid='+sid+'&name='+name+'&tel='+tel;
        // console.log(manPointsFormData);
        // return false;
        $.ajax({
            url: '{:url("manPoints")}?r='+Math.random(),
            type: 'POST',
            dataType: 'html',
            data: manPointsFormData
        })
        .done(function(data) {
            if(data.indexOf('添加成功')>=0){
                $('#manPointsSubmit').attr('disabled',true);
                $('#manPointsForm').get(0).reset();
                $('#manPointsMsg').html('');
                $('#dg').datagrid('reload');
                $('#manPointsFormModel').modal('hide');

                // $('#addConDialog').modal();
            }else{
                $('#manPointsMsg').html('提示信息：'+data);
            }
        })
        .fail(function() {
            $('#manPointsMsg').html('发生错误!请及时联系管理员!');
        });
        return false;
    });

    // 搜索功能
    $('#search').on('click',function(){
        $('#dg').datagrid('load',{
            name: $('#mohu').val(),
            startpoint: $('#startpoint').val(),
            endpoint: $('#endpoint').val()
        });
    });

    // 修改客户资料
    $('#openEditModal').on('click',function(){
        var selected=$('#dg').datagrid('getSelected');
        // console.info(selected);

        if(selected){
            $('#editFormTit').html(selected.name+'('+selected.telephone+')');
            $('#editForm input[name=name]').val(selected.name);
            $('#editForm input[name=id]').val(selected.id);
            switch (selected.sex) {
                case '男':
                    selected.sex=1;
                    break;
                case '女':
                    selected.sex=2;
                    break;
                case '未知':
                    selected.sex=0;
                    break;
                default:
                    selected.sex=selected.sex;
                    break;
            }
            /*console.log(selected.sex);
            return false;*/
            $('#editForm select[name=sex]').val(selected.sex)
            $('#editForm input[name=telephone]').val(selected.telephone);
            $('#editForm input[name=telephone]').val(selected.telephone);
            $('#editForm input[name=age]').val(selected.age);
            $('#editModel').modal();
            $('#editSubmit').attr('disabled',false);
        }else{
            alert('请选择用户');
        }
    });
    $('#editSubmit').on('click',function(){
        if($('#editForm input[name=id]').val()>0){
            $.ajax({
                url: '{:url("edit")}?r='+Math.random(),
                type: 'POST',
                dataType: 'html',
                data: $('#editForm').serialize()
            })
            .done(function(data) {
                if(data=='"修改成功"'){
                    $('#editSubmit').attr('disabled',true);
                    // console.log(data);
                    $('#dg').datagrid('reload');
                    $('#editModel').modal('hide');
                }else{
                    $('#editMsg').html('提示信息：'+data);
                }

            })
            .fail(function() {
                alert("发送错误");
            });
            return false;
        }else{
            alert('请先选择客户!');
        }

    });

    // 积分转赠
    $('#openGivingModal').on('click',function(){
        var selected=$('#dg').datagrid('getSelected');
        if(selected){
            $('#editFormTit').html(selected.name+'('+selected.telephone+')');
            $('#lastPoints').html(selected.sumg)
            $('#givingModel').modal();

        }else{
            alert('请选择用户');
        }
    });
</script>




</body>
</html>
