<div region="west" hide="true" split="true" title="导航菜单" style="width:180px;" id="west">
    <div id="nav" class="easyui-accordion" fit="false" border="false">
        <!--  导航内容 -->
    </div>
</div>
<script>
    /*$('#nav').tree(
    {
        url:"{:url('menu')}"
    });*/
    var _menus = {};

    $.ajax({
        url: "{:url('menu')}?r=" + Math.random(),
        type: 'GET',
        dataType: 'json',
        async: false,//同步
    })
    .done(function(data) {
        // console.log(typeof(data))
        _menus=JSON.parse(data);
        // console.log(_menus)

    })
    .fail(function() {
        console.log("未知错误");
    });
    // console.log(_menus)
</script>
